* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #f4f5f6;
  font-family: "Roboto", sans-serif;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1em;
  color: #000;
}

/* Navigation Styles */

.unordered-list {
  background: white;
  display: flex;
  flex-direction: row;
  /* align-items: initial; */
  justify-content: space-around;
}
.nav-list {
  padding-top: 1em;
}

.nav-list a {
  border-right: 1px solid #ddd;
  text-align: center;
  padding: 1em;
}

.main-section {
  height: auto;
  background: #f4f5f6;
  margin: 0 auto;
}

.main-col {
  background: #fff;
}

.card-img-top {
  position: relative;
}

.tag {
  background: rgba(255, 255, 255, 0.9);
  color: #f22213;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  padding: 0.4em;
  text-align: center;
  font-weight: 700;
  z-index: 1;
}

a {
  color: #000;
}

a:hover {
  color: red;
}

.parent-bg {
  background: #f4f5f6;
}

.navbar {
  background: #f22213;
}

.nav-middle svg {
  fill: white;
}

.nav-container {
  background: #f4f5f6;
}

.card {
  margin: 0;
  border: 1px solid white;
}

.card-border {
  border: 1px solid #ddd;
}

.text-black {
  color: #000;
}

.featured-story {
  height: auto;
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.flex-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-bottom: 0;
  padding-top: 0.5em;
}

.img-container {
  width: 20%;
}

.info {
  width: 90%;
}

.info-title {
  color: #000;
}

.morestory-img {
  padding-bottom: 2em;
  width: 6em;
}

.top-story {
  height: auto;
}

.debate {
  height: auto;
  margin: 0;
  padding: 0;
}

.first-debate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 5px solid red;
  border-bottom: 1px solid #ddd;
}

.second-debate {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  border-bottom: 5px solid blue;
  margin-top: 1px;
}

.debator-img {
  width: 100%;
}

.debate-text {
  line-height: 1em;
}

.author {
  font-size: 0.8em;
}

.highlight {
  color: #000;
}

.highlight:hover {
  color: #f7435c;
  cursor: pointer;
}

.opinion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}

.news-letter {
  background: #f4f5f6;
  padding: 2em;
  margin-top: 2em;
  width: 90%;
}

.news-letter img {
  width: 10%;
  height: 10%;
}

.news-letter-img {
  width: 2%;
  height: 5%;
}

.news-letter button {
  background: #f22213;
}

/* ===================================================================================
                     IN THE MAGAZINE
===================================================================================  */

.in-the-magazine {
  background: #fff;
  height: 145vh;
  width: 97%;
  margin: 0 auto;
}

.first-mag-img {
  height: 90%;
  width: 100%;
}

.see-feature:hover {
  background: #e2e4e5;
}

.mag-first-row {
  border-top: 1px solid #ddd;
}

/* .sec-mag-row {
  height: auto;
} */

.magazine-img {
  height: 60%;
  width: 100%;
}

.magazine-img2 {
  height: 80%;
  width: 100%;
}

.anchor-parent a:nth-child(1) {
  color: white;
  background: #f22213;
}

.anchor-parent a:nth-child(2) {
  color: #f22213;
}

.editors-pick {
  background: #fff;
  width: 97%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
}
/* Segments Styling */

.in-segments {
  background: #fff;
  width: 97%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.segment-third {
  width: 100%;
  padding: 0;
}

.segments-title {
  color: #f22213;
  font-weight: 700;
}

.segment-text {
  width: 70%;
  float: right;
  padding-left: 1em;
  line-height: 1em;
  font-weight: bold;
}

.segment-img {
  width: 30%;
  height: 30%;
}

.bod {
  border-top: 1px solid #ddd;
}

.segment-space {
  margin-top: 1em;
  border-top: 1px solid #ddd;
}

/* Subscription style */
.subscribe-parent {
  width: 95%;
  padding: 0;
  margin: 0 auto;
}

.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  background: #f4f5f6;
  margin-right: 4em;
}

.newsletter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid #ddd;
  padding: 0;
}

.new-img-con {
  background: cornflowerblue;
}

.newsletter-body {
  padding: 1em;
}
.newsletter-body .btn {
  width: 100%;
  background: #f22213;
  color: #fff;
}

.new-img-con img {
  width: 100%;
  height: 100%;
}

.subbscribe-text {
  padding: 2em;
}

.subbscribe-text .btn {
  background: #f22213;
  color: white;
}

.image-parent {
  width: 70%;
}

.sub-img1 {
  position: relative;
}
.sub-img2 {
  position: absolute;
  top: 4em;
  left: 6em;
}
