. {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f4f5f6;
}

.three-col {
  background: #fff;
  height: 500vh;
}

.parent-bg {
  background: #f4f5f6;
}

.nav-middle svg {
  fill: white;
}

.main-section {
  height: 150vh;
}

.text-black {
  color: #000;
}

.featured-story {
  height: auto;
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.flex-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-bottom: 0;
  padding-top: 0.5em;
}

.img-container {
  width: 20%;
}
.info {
  width: 90%;
}

.info-title {
  color: #000;
}

.morestory-img {
  padding-bottom: 2em;
  width: 6em;
}

.top-story {
  height: auto;
}

.debate {
  height: auto;
  background: darkgoldenrod;
}
